{% extends "free_base.html" %}

{% block scripts %}
{% endblock %}


{% block content %}
      <!-- LEGAL -->
      <section class="mb-section container">

        <div class="static_head">  
          <!-- section header-->
          <div class="section_header centered">
            <!-- section title -->
            <h2 class="section_title centered mb-section-br">500 Error: Sorry for the inconvenience!</h2>
            <!-- section title caption-->
          </div>

          
      </section>    
{% endblock %}