{% extends "free_base.html" %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#id_recipient").validate();
      });
    </script>
{% endblock %}

{% block content %}
      <!-- [RECIPIENT] (1) Confirm identity -->
      <section class="mb-section container">

        <!-- progress bar -->
        <div class="progressbar_container">
          <ul class="progressbar">
              <li class="active">Click invitation</li>
              <li>Confirm identity</li>
              <li>Sign NDA</li>
              <li>Access File</li>
          </ul>
        </div>

        <div>  
          <!-- section header-->
          <div class="section_header centered">
            <!-- section title -->
            <h2 class="section_title centered mb-section-br">Confirm your identity</h2>
            <!-- section title caption-->
            <p class="section_caption   mb-section-br">
              You've been invited to access a private file. Confirm your first, last, organization, and the email address where you received the invitation.
            </p>
          </div>

          <!-- section body -->
          <div class="section_body centered">
            <form id="id_recipient" action="{{ url_for('free_sign_nda', private_invitation_url=invitation_url) }}" method="POST">
              <div class="recipient_grid centered">
                <div class="recipient_card centered" id="1">
                  <div class="recipient_card_label"><i class="fas fa-id-card header_icon"></i></div>
                  <input type="text" class="recipient_card_item" name="r_first_name" placeholder="First name" minlength="2" required><br>
                  <input type="text" class="recipient_card_item" name="r_last_name" placeholder="Last name" minlength="2" required><br>
                  <input type="text" class="recipient_card_item" name="r_organization" placeholder="Organization"><br>
                  <input type="email" class="recipient_card_item" name="r_email" placeholder="Email address" required><br>
                  <div class="recipient_button">
                    <button class="identify_button_submit " type="submit">
                      Continue &nbsp;<i class="fas fa-arrow-circle-right"></i>
                    </button>
                  </div>

                </div>
              </div>
    
            </form>
          </div>
        </div>  
      </section>    
{% endblock %}