{% extends "free_base.html" %}

{% block scripts %}
{% endblock %}


{% block content %}
      <!-- LEGAL -->
      <section class="mb-section container">

        <div class="static_head">  
          <!-- section header-->
          <div class="section_header centered">
            <!-- section title -->
            <h2 class="section_title centered mb-section-br">Electronic Signature Legality</h2>
            <!-- section title caption-->
          </div>

          <!-- section body -->
          <div class="section_body centered">
            <div class="legal">
              <p>Global adoption of electronic signatures has enabled organizations and individuals alike to enter into legal agreements without the hassle of printing, signing, scanning, and in our case, fretting about the secure storage and transfer of sensitive documents and then wondering if your confidential information can be trusted in the hands of another.</p> 

              <p>Over 60 countries and counting have regulated and accepted electronic signatures. We’ve included a sample of the major ones and legal reference if you’re ever curious. Many more countries have crafted law regarding e-signatures based on the <a href=“http://www.uncitral.org/uncitral/en/uncitral_texts/electronic_commerce/2001Model_signatures.html” target=“_blank”>UNCITRAL Model Law on Electronic Signatures</a> from the United Nations.</p>
              
              <p>Rest assured that UnderNDA exclusively facilitates legally binding, digitally executed contracts for your Non-Disclosure Agreement needs with a full audit log accompanying each contract to back it up.</p>
              
              <p><b>United States</b>: <a href=“https://www.govinfo.gov/content/pkg/PLAW-106publ229/pdf/PLAW-106publ229.pdf” target=“_blank”>E-Sign Act</a></p>
              
              <p><b>United States</b>: <a href=“https://www.uniformlaws.org/committees/community-home/librarydocuments?communitykey=2c04b76c-2b7d-4399-977e-d5876ba7e034&tab=librarydocuments&LibraryFolderKey=&DefaultView=“ target=“_blank”>Uniform Electronic Transactions Act</a></p>
              
              <p><b>Canada</b>: <a href=“http://www.priv.gc.ca/leg_c/leg_c_p_e.cfm” target=“_blank”>Personal Information Protection and Electronic Documents Act (PIPEDA)</a></p>
              
              <p><b>United Kingdom</b>: <a href="http://www.legislation.gov.uk/ukpga/2000/7/contents" target=“_blank”>Electronic Communications Act</a></p>
              
              <p><b>United Kingdom</b>: <a href=“http://www.legislation.gov.uk/uksi/2002/318/introduction/made” target=“_blank”>Electronic Signatures Regulation</a></p>
              
              <p><b>Australia</b>: <a href=“http://www.comlaw.gov.au/Details/C2011C00445” target=“_blank”>Electronic Transactions Act</a></p>
              
              <p><b>European Union</b>: <a href=“https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A31999L0093” target=“_blank”>EU Directive</a></p>
              
              <p><b>India</b>: <a href=“https://www.indiacode.nic.in/bitstream/123456789/1999/3/A2000-21.pdf” target=“_blank”>Information Technology Act</a></p>
              
              <p><b>Japan</b>: <a href=“http://www.meti.go.jp/english/report/data/gesignconte.html” target=“_blank”>Law Concerning Electronic Signatures and Certification Services</a></p>
              
              <p><b>China</b>: <a href=“https://www.wipo.int/edocs/lexdocs/laws/en/cn/cn105en.pdf” target=“_blank”>Electronic Signature Law of the People’s Republic of China</a></p>
              
              <p><b>New Zealand</b>: <a href=“http://www.med.govt.nz/templates/ContentTopicSummary____9829.aspx” target=“_blank”>Electronic Transactions Act</a></p>

          </div>
        </div>
          
      </section>    
{% endblock %}