{% extends "free_base.html" %}

{% block scripts %}
{% endblock %}


{% block content %}
      <!-- LEGAL -->
      <section class="mb-section container">

        <div class="static_head">  
          <!-- section header-->
          <div class="section_header centered">
            <!-- section title -->
            <h2 class="section_title centered mb-section-br">Terms of Service</h2>
            <!-- section title caption-->
          </div>

          <!-- section body -->
          <div class="section_body centered">
            <div class="legal">
              <h4>User Terms of Service</h4>

              <p>The following terms and conditions govern your use of the UnderNDA website and services.</p>
              
              <p>By your use of our free offerings or subscription to our premium offerings, you agree to the following Terms and Conditions and you acknowledge that you have been given the opportunity to review the terms and consent to be bound by them. </p>
              
              <p>You certify to us that you are of the legal age in your jurisdiction of residence to use these services and enter into a binding agreement with UnderNDA and any UnderNDA users you transact with while using UnderNDA’s services. You understand and acknowledge that you are in compliance with all laws, regulations, and rules for any and all activities you undertake in your use of UnderNDA.</p>
              
              <h4>UnderNDA Services</h4>
              
              <p>UnderNDA’s website and services facilitate the sharing of content submitted by users, the execution of Non-Disclosure Agreement contracts by e-signature, the generation of certificates with an auditable log to back up each contract, and watermarking of submitted content when applicable to discourage the sharing of submitted content sent to recipients selected by the user. </p>
              
              <p>UnderNDA offers a limited way to use the service for free via the website’s landing page. UnderNDA also offers premium accounts with monthly billing facilitated by Stripe. More information can be found on our website.</p>
              
              <p>UnderNDA uses third party service <a href=“https://filestack.com” target=“_blank”>Filestack</a> for the storage and delivery of submitted content. UnderNDA does not claim any responsibility for Filestack’s services. You agree that you are solely responsible for your use of any third party services including but not limited to Filestack during your user of UnderNDA’s website and services. </p>
              
              <h4>Submitted Content</h4>
              <p>While using UnderNDA’s services, you may provide us with assets such as files and documents of various formats in order to share it with recipients of your choosing (“Submitted Content”). UnderNDA does not claim any right to your Submitted Content outside the permission needed to perform the services which is also extended to our affiliates. We agree that we will treat your Submitted Content with the same degree of care that we treat our own confidential information. </p>
              
              <p>UnderNDA does not claim any responsibility for Submitted Content submitted to or shared through our services. UnderNDA is under no obligation or duty to moderate or ensure compliance with laws and regulations that may pertain to your Submitted Content. Any Submitted Content you discover that violates a copyright or law can be reported to contact@fileundernda.com for removal.</p>
              
              
              <h4>Terms of Service Are Subject to Change</h4>
              <p>We may and likely will update these terms and conditions in the future. All changes are effective immediately upon being posted. Your continued use of the our website and services denotes your acceptance of the changes.</p>
              
              <h4>Intellectual Property </h4>
              <p>Access to any content on our website and services, including but not limited to all information, images, and text as well as any Submitted Content, are the sole property of UnderNDA or the user who has submitted the content. By accessing our website you acknowledge this and agree to adhere to United States intellectual property laws. </p>
              
              <p>You agree to maintain the confidentiality of any Submitted Content you have been invited to access by a user and agree to never print, screenshot, copy, download, or modify the Submitted Content unless provided written permission by the user who has shared it with you. Breach of this agreement is subject to legal penalty.</p>
              
              <h4>Prohibited Use</h4>
              <p>Any Submitted Content must comply with all applicable federal, state, local and international laws and regulations. You agree to adhere to standards including but not limited to the following: </p>
              
              <ul>
              <li>Never upload or share any content that violates a United States law or promotes or facilitates any illegal activity.</li>
              <li>Never upload or share any content that could be considered abusive, harmful, obscene, or pornographic. </li>
              <li>Never upload or share content that violates intellectual property laws.</li>
              <li>Never provide false identifying information for the purpose of fraud.</li>
              <li>Never use our website and services in any way that interfere with the stability of our website and services or ongoing access to our website and services by other users.</li>
              
              <h4>Liability Disclaimer and Indemnification</h4>
              <p>UnderNDA does not assume responsibility for any actions or events resulting from your use of our website and services. We are not liable for any damages or losses caused by Submitted Content you view, download, or otherwise access. We do not guarantee the safety or legality of any Submitted Content. By UnderNDA’s website and services, you agree and understand that Submitted Content is upload and shared by users of our website and services and that UnderNDA does not select, censor, virus scan, or otherwise moderate the Submitted Content and cannot be held liable for any Submitted Content. </p>
              
              <p>You hereby agree to defend, indemnify, and hold harmless UnderNDA from any claims, liabilities, damages, or expenses (including attorneys’ fees) arising out of or relating to your use of our website and services or your violation of these terms and conditions. This agreement and any agreements you enter into while using our website and services are governed by Delaware law unless otherwise indicated.</p>
              
              <p>Thank you for reviewing! Reach us at contact@fileundernda.com with any questions.</p>
              
          </div>
        </div>
          
      </section>    
{% endblock %}